


<section class="stats">
    <div class="container">
        <div class="stats-inner">
            @await Html.PartialAsync("Partials/HeaderStats")
            @await Html.PartialAsync("Partials/ContentStats")

        </div>
    </div>
</section>







@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/stats-script.js"></script>

}