@using SerialNotes.ViewModels;
@model SerialsVM

@{
    ViewData["Title"] = "SN - Добавление";
}

<section class="add">
    <div class="container">
        <div class="add-inner">

            @await Html.PartialAsync("Partials/HeaderAdd")
            <div data-add-content>
                @await Html.PartialAsync("Partials/AddNotes", @Model)
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/add-script.js"></script>
}