@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Lemon";
    src: url(../fonts/Lemon-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
